{% extends 'base.html' %}

{% block title %}Добавить справочник{% endblock %}

{% block content %}
<section class="section context-dark" data-preset='{"title":"Breadcrumbs","category":"main","reload":true,"id":"breadcrumbs"}'>
        <div class="parallax-container" data-parallax-img="/static/images/bg-header-1920x362.jpg">
          <div class="parallax-content">
            <div class="container section-top-34 section-md-top-98 section-bottom-34">
              <div>
                <h1 class="font-weight-bold">Добавление справочник</h1>
              </div>
              <ul class="list-inline list-inline-dashed p text-light breadcrumb-modern offset-top-10 offset-md-top-66">
                <li class="list-inline-item"><a href="/">Главная</a></li>
                <li class="list-inline-item"><a href="/handbook/">Справочник</a></li>
                <li class="list-inline-item">Добавить</li>
              </ul>
            </div>
          </div>
        </div>
      </section>

<section class="section section-98 section-md-110 section-bottom-66 bg-default novi-background" data-preset='{"title":"About us 1","category":"about","reload":true,"id":"about-us-1"}'>
        <div class="container">
          <h2 class="font-weight-bold">Справочник</h2>
          <hr class="divider bg-saffron">
          <div class="offset-md-top-66">
            <!-- Responsive-tabs-->
            <div class="responsive-tabs responsive-tabs-classic" data-type="horizontal">
              <ul class="resp-tabs-list tabs-1 tabs-group-default" data-group="tabs-group-default">
                <li>Область</li>
                <li>Район</li>
                <li>Город</li>
                <li>Район города</li>
                <li>Улица</li>
                <li>Новострой</li>
                <li>Клиент/Владелец</li>
                <li>Филиал</li>
                <li>Другое</li>
              </ul>
              <div class="resp-tabs-container tabs-group-default" data-group="tabs-group-default">
                <div>
                  <form method=post>
                    {{ district_form.csrf_token() }}
                    {% for field in district_form %}
                    {% if field.name != "csrf_token" %}
                    <div class="form-group">
                      <label class="form-label form-label-size-lg form-label-outside"
                             for="district-{{ field.name }}"><h4>{{field.label}}</h4></label>
                      {% if field.type == "SelectField" %}
                      <select class="form-control" id="district-{{ field.name }}"
                              name="{{ field.name }}" data-minimum-results-for-search="Infinity">
                        {% for choice in field.choices %}
                        <option value="{{choice.0}}">{{choice.1}}</option>
                        {% endfor %}
                      </select>
                      {% else %}
                      <input class='{%if field.type != "BooleanField"%}form-control bg-white{%endif%}'
                             id="district-{{ field.name }}"
                             type='{%if field.type == "BooleanField"%}checkbox{%else%}text{%endif%}'
                             name="{{ field.name }}">
                      {% endif %}
                    </div>
                    {% endif %}
                    {% endfor %}
                    <p><input class="btn btn-primary" type=submit value=Добавить>
                  </form>
                  <br>
                </div>
                <div>
                  <form method=post>
                    {{ region_form.csrf_token() }}
                    {% for field in region_form %}
                    {% if field.name != "csrf_token" %}
                    <div class="form-group">
                      <label class="form-label form-label-size-lg form-label-outside"
                             for="region-{{ field.name }}"><h4>{{field.label}}</h4></label>
                      {% if field.type == "SelectField" %}
                      <select class="form-control" id="region-{{ field.name }}"
                              name="{{ field.name }}" data-minimum-results-for-search="Infinity">
                        {% for choice in field.choices %}
                        <option value="{{choice.0}}">{{choice.1}}</option>
                        {% endfor %}
                      </select>
                      {% else %}
                      <input class='{%if field.type != "BooleanField"%}form-control bg-white{%endif%}'
                             id="region-{{ field.name }}"
                             type='{%if field.type == "BooleanField"%}checkbox{%else%}text{%endif%}'
                             name="{{ field.name }}">
                      {% endif %}
                    </div>
                    {% endif %}
                    {% endfor %}
                    <p><input class="btn btn-primary" type=submit value=Добавить>
                  </form>
                  <br>
                </div>
                <div>
                  <form method=post>
                    {{ city_form.csrf_token() }}
                    {% for field in city_form %}
                    {% if field.name != "csrf_token" %}
                    <div class="form-group">
                      <label class="form-label form-label-size-lg form-label-outside"
                             for="city-{{ field.name }}"><h4>{{field.label}}</h4></label>
                      {% if field.type == "SelectField" %}
                      <select class="form-control" id="city-{{ field.name }}"
                              name="{{ field.name }}" data-minimum-results-for-search="Infinity">
                        {% for choice in field.choices %}
                        <option value="{{choice.0}}">{{choice.1}}</option>
                        {% endfor %}
                      </select>
                      {% else %}
                      <input class='{%if field.type != "BooleanField"%}form-control bg-white{%endif%}'
                             id="city-{{ field.name }}"
                             type='{%if field.type == "BooleanField"%}checkbox{%else%}text{%endif%}'
                             name="{{ field.name }}">
                      {% endif %}
                    </div>
                    {% endif %}
                    {% endfor %}
                    <p><input class="btn btn-primary" type=submit value=Добавить>
                  </form>
                  <br>
                </div>
                <div>
                  <form method=post>
                    {{ city_region_form.csrf_token() }}
                    {% for field in city_region_form %}
                    {% if field.name != "csrf_token" %}
                    <div class="form-group">
                      <label class="form-label form-label-size-lg form-label-outside"
                             for="city_region-{{ field.name }}"><h4>{{field.label}}</h4></label>
                      {% if field.type == "SelectField" %}
                      <select class="form-control" id="city_region-{{ field.name }}"
                              name="{{ field.name }}" data-minimum-results-for-search="Infinity">
                        {% for choice in field.choices %}
                        <option value="{{choice.0}}">{{choice.1}}</option>
                        {% endfor %}
                      </select>
                      {% else %}
                      <input class='{%if field.type != "BooleanField"%}form-control bg-white{%endif%}'
                             id="city_region-{{ field.name }}"
                             type='{%if field.type == "BooleanField"%}checkbox{%else%}text{%endif%}'
                             name="{{ field.name }}">
                      {% endif %}
                    </div>
                    {% endif %}
                    {% endfor %}
                    <p><input class="btn btn-primary" type=submit value=Добавить>
                  </form>
                  <br>
                </div>
                <div>
                  <form method=post>
                    {{ street_form.csrf_token() }}
                    {% for field in street_form %}
                    {% if field.name != "csrf_token" %}
                    <div class="form-group">
                      <label class="form-label form-label-size-lg form-label-outside"
                             for="street-{{ field.name }}"><h4>{{field.label}}</h4></label>
                      {% if field.type == "SelectField" %}
                      <select class="form-control" id="street-{{ field.name }}"
                              name="{{ field.name }}" data-minimum-results-for-search="Infinity">
                        {% for choice in field.choices %}
                        <option value="{{choice.0}}">{{choice.1}}</option>
                        {% endfor %}
                      </select>
                      {% else %}
                      <input class='{%if field.type != "BooleanField"%}form-control bg-white{%endif%}'
                             id="street-{{ field.name }}"
                             type='{%if field.type == "BooleanField"%}checkbox{%else%}text{%endif%}'
                             name="{{ field.name }}">
                      {% endif %}
                    </div>
                    {% endif %}
                    {% endfor %}
                    <p><input class="btn btn-primary" type=submit value=Добавить>
                  </form>
                  <br>
                </div>
                <div>
                  <form method=post>
                    {{ new_building_form.csrf_token() }}
                    {% for field in new_building_form %}
                    {% if field.name != "csrf_token" %}
                    <div class="form-group">
                      <label class="form-label form-label-size-lg form-label-outside"
                             for="new_building-{{ field.name }}"><h4>{{field.label}}</h4></label>
                      {% if field.type == "SelectField" %}
                      <select class="form-control" id="new_building-{{ field.name }}"
                              name="{{ field.name }}" data-minimum-results-for-search="Infinity">
                        {% for choice in field.choices %}
                        <option value="{{choice.0}}">{{choice.1}}</option>
                        {% endfor %}
                      </select>
                      {% else %}
                      <input class='{%if field.type != "BooleanField"%}form-control bg-white{%endif%}'
                             id="new_building-{{ field.name }}"
                             type='{%if field.type == "BooleanField"%}checkbox{%else%}text{%endif%}'
                             name="{{ field.name }}">
                      {% endif %}
                    </div>
                    {% endif %}
                    {% endfor %}
                    <p><input class="btn btn-primary" type=submit value=Добавить>
                  </form>
                  <br>
                </div>
                <div>
                  <form method=post>
                    {{ client_form.csrf_token() }}
                    {% for field in client_form %}
                    {% if field.name != "csrf_token" %}
                    <div class="form-group">
                      <label class="form-label form-label-size-lg form-label-outside"
                             for="client-{{ field.name }}"><h4>{{field.label}}</h4></label>
                      {% if field.type == "SelectField" %}
                      <select class="form-control" id="client-{{ field.name }}"
                              name="{{ field.name }}" data-minimum-results-for-search="Infinity">
                        {% for choice in field.choices %}
                        <option value="{{choice.0}}">{{choice.1}}</option>
                        {% endfor %}
                      </select>
                      {% else %}
                      <input class='{%if field.type != "BooleanField"%}form-control bg-white{%endif%}'
                             id="client-{{ field.name }}"
                             type='{%if field.type == "BooleanField"%}checkbox{%else%}text{%endif%}'
                             name="{{ field.name }}">
                      {% endif %}
                    </div>
                    {% endif %}
                    {% endfor %}
                    <p><input class="btn btn-primary" type=submit value=Добавить>
                  </form>
                  <br>
                </div>
                <div>
                  <form method=post>
                    {{ separation_form.csrf_token() }}
                    {% for field in separation_form %}
                    {% if field.name != "csrf_token" %}
                    <div class="form-group">
                      <label class="form-label form-label-size-lg form-label-outside"
                             for="separation-{{ field.name }}"><h4>{{field.label}}</h4></label>
                      {% if field.type == "SelectField" %}
                      <select class="form-control" id="separation-{{ field.name }}"
                              name="{{ field.name }}" data-minimum-results-for-search="Infinity">
                        {% for choice in field.choices %}
                        <option value="{{choice.0}}">{{choice.1}}</option>
                        {% endfor %}
                      </select>
                      {% else %}
                      <input class='{%if field.type != "BooleanField"%}form-control bg-white{%endif%}'
                             id="separation-{{ field.name }}"
                             type='{%if field.type == "BooleanField"%}checkbox{%else%}text{%endif%}'
                             name="{{ field.name }}">
                      {% endif %}
                    </div>
                    {% endif %}
                    {% endfor %}
                    <p><input class="btn btn-primary" type=submit value=Добавить>
                  </form>
                  <br>
                </div>
                <div>
                  <form method=post>
                    {{ handbook_form.csrf_token() }}
                    {% for field in handbook_form %}
                    {% if field.name != "csrf_token" %}
                    <div class="form-group">
                      <label class="form-label form-label-size-lg form-label-outside"
                             for="handbook-{{ field.name }}"><h4>{{field.label}}</h4></label>
                      {% if field.type == "SelectField" %}
                      <select class="form-control" id="handbook-{{ field.name }}"
                              name="{{ field.name }}" data-minimum-results-for-search="Infinity">
                        {% for choice in field.choices %}
                        <option value="{{choice.0}}">{{choice.1}}</option>
                        {% endfor %}
                      </select>
                      {% else %}
                      <input class='{%if field.type != "BooleanField"%}form-control bg-white{%endif%}'
                             id="handbook-{{ field.name }}"
                             type='{%if field.type == "BooleanField"%}checkbox{%else%}text{%endif%}'
                             name="{{ field.name }}">
                      {% endif %}
                    </div>
                    {% endif %}
                    {% endfor %}
                    <p><input class="btn btn-primary" type=submit value=Добавить>
                  </form>
                  <br>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
{% endblock %}