{% extends 'base.html' %}

{% block title %}О объекте{% endblock %}

{% block content %}
<section class="section context-dark" data-preset='{"title":"Breadcrumbs","category":"main","reload":true,"id":"breadcrumbs"}'>
  <div class="parallax-container" data-parallax-img="/static/images/bg-header-1920x362.jpg">
    <div class="parallax-content">
      <div class="container section-top-34 section-md-top-98 section-bottom-34">
        <div>
          <h1 class="font-weight-bold">О объекте</h1>
        </div>
        <ul class="list-inline list-inline-dashed p text-light breadcrumb-modern offset-top-10 offset-md-top-66">
          <li class="list-inline-item"><a href="/">Главная</a></li>
          <li class="list-inline-item"><a href="/catalog/">Каталог</a></li>
          <li class="list-inline-item">О объекте</li>
        </ul>
      </div>
    </div>
  </div>
</section>
<!--Section The Presidio Residences-->
<section class="section section-98 section-md-110 bg-default novi-background" data-preset='{"title":"Property single","category":"properties","reload":true,"id":"property-single"}'>
  <div class="container">
    <h2 class="font-weight-bold">
      {{object.address}}
    </h2>
    <hr class="divider bg-saffron">
    <div class="offset-md-top-66">
      <div class="row row-65 row-fix">
        <div class="col-lg-7 col-xl-8">
          <!-- Owl Carousel-->
          <div class="owl-carousel owl-carousel-classic" data-items="1" data-dots="true"
               data-nav="true" data-nav-class="[&quot;owl-prev mdi mdi-chevron-left&quot;, &quot;owl-next mdi mdi-chevron-right&quot;]">
            <a class="thumbnail-classic" data-lightgallery="item" href="{{ object.image_source }}">
              <figure>
                <img width="770" height="510" src="{{ object.image_source }}" alt="">
              </figure>
            </a>
            {% if object.image_sources %}
            {% for source in object.image_sources %}
            <a class="thumbnail-classic" data-lightgallery="item" href="{{ source }}">
              <figure>
                <img width="770" height="510" src="{{ source }}" alt="">
              </figure>
            </a>
            {% endfor %}
            {% endif %}
          </div>
          <div class="text-md-left offset-top-50">
            <h5 class="font-weight-bold">Коментарий к объекту</h5>
            <p>{{ object.comment }}</p>
          </div>
          <div class="offset-top-30">
            <!-- Bootstrap Table-->
            <div class="table-responsive clearfix">
              <table class="table table-striped">
                <tr>
                  <th>Детали объекта</th>
                  <th></th>
                </tr>
                {% if object.date_before_temporarily_removed %}
                <tr>
                  <th>Дата перед временным удалением</th>
                  <td>{{object.date_before_temporarily_removed}}</td>
                </tr>
                {% endif %}
                {% if object.deposit_date %}
                <tr>
                  <th>Дата задатка</th>
                  <td>{{object.deposit_date}}</td>
                </tr>
                {% endif %}
                {% if object.purchase_date %}
                <tr>
                  <th>Дата покупки</th>
                  <td>{{object.purchase_date}}</td>
                </tr>
                {% endif %}
                {% if object.sale_date %}
                <tr>
                  <th>Дата продажи</th>
                  <td>{{object.sale_date}}</td>
                </tr>
                {% endif %}
                {% if object.date_of_next_call %}
                <tr>
                  <th>Дата следующего прозвона</th>
                  <td>{{object.date_of_next_call}}</td>
                </tr>
                {% endif %}
                {% if object.inspection_form %}
                <tr>
                  <th>Осмотренно</th>
                  <td>{{object.inspection_form}}</td>
                </tr>
                {% endif %}
                {% if object.exclusive %}
                <tr>
                  <th>Эксклюзив</th>
                  <td>{{object.exclusive_from}} - {{object.exclusive_to}}</td>
                </tr>
                {% endif %}
                <tr>
                  <th>Осмотренно?</th>
                  <td>
                    {% if object.inspection_flag %}Да{% else %}Нет{% endif %}
                  </td>
                </tr>
                <tr>
                  <th>Платный исклюзив?</th>
                  <td>
                    {% if object.paid_exclusive_flag %}Да{% else %}Нет{% endif %}
                  </td>
                </tr>
                <tr>
                  <th>Тераса?</th>
                  <td>
                    {% if object.terrace_flag %}Да{% else %}Нет{% endif %}
                  </td>
                </tr>
                <tr>
                  <th>У моря?</th>
                  <td>
                    {% if object.sea_flag %}Да{% else %}Нет{% endif %}
                  </td>
                </tr>
                <tr>
                  <th>Вип?</th>
                  <td>
                    {% if object.vip %}Да{% else %}Нет{% endif %}
                  </td>
                </tr>
                <tr>
                  <th>Самостоятельная?</th>
                  <td>
                    {% if object.independent %}Да{% else %}Нет{% endif %}
                  </td>
                </tr>
                <tr>
                  <th>Специальное предложение?</th>
                  <td>
                    {% if object.special %}Да{% else %}Нет{% endif %}
                  </td>
                </tr>
                <tr>
                  <th>Срочно</th>
                  <td>
                    {% if object.urgently %}Да{% else %}Нет{% endif %}
                  </td>
                </tr>
                <tr>
                  <th>Обмен?</th>
                  <td>
                    {% if object.trade %}Да{% else %}Нет{% endif %}
                  </td>
                </tr>
                {% if object.withdrawal_reason %}
                <tr>
                  <th>Причина снятия</th>
                  <td>{{object.withdrawal_reason}}</td>
                </tr>
                {% endif %}
                {% if object.condition %}
                <tr>
                  <th>Состояние</th>
                  <td>{{object.condition}}</td>
                </tr>
                {% endif %}
                {% if object.material %}
                <tr>
                  <th>Материал</th>
                  <td>{{object.material}}</td>
                </tr>
                {% endif %}
                {% if object.status %}
                <tr>
                  <th>Статус</th>
                  <td>{{object.status}}</td>
                </tr>
                {% endif %}
                {% if object.square %}
                <tr>
                  <th>Площадь</th>
                  <td>{{object.square}}</td>
                </tr>
                {% endif %}
                {% if object.price %}
                <tr>
                  <th>Цена</th>
                  <td>{{object.price}}</td>
                </tr>
                {% endif %}
                {% if object.site_price %}
                <tr>
                  <th>Цена на сайт</th>
                  <td>{{object.site_price}}</td>
                </tr>
                {% endif %}
                {% if object.square_meter_price %}
                <tr>
                  <th>Цена за кв. метр</th>
                  <td>{{object.square_meter_price}}</td>
                </tr>
                {% endif %}
                {% if object.reference_point %}
                <tr>
                  <th>Ориентир</th>
                  <td>{{object.reference_point}}</td>
                </tr>
                {% endif %}
                {% if object.owner %}
                <tr>
                  <th>Владелец</th>
                  <td>{{object.owner.first_name}} {{object.owner.last_name}}</td>
                </tr>
                {% endif %}
                {% if object.client %}
                <tr>
                  <th>Клиент</th>
                  <td>{{object.client.first_name}} {{object.client.last_name}}</td>
                </tr>
                {% endif %}
                {% if object.owners_number %}
                <tr>
                  <th>Число владельцев</th>
                  <td>{{object.owners_number}}</td>
                </tr>
                {% endif %}
                {% if object.separation %}
                <tr>
                  <th>Филиал</th>
                  <td>{{object.separation}}</td>
                </tr>
                {% endif %}
                {% if object.agency %}
                <tr>
                  <th>Агенство</th>
                  <td>{{object.agency}}</td>
                </tr>
                {% endif %}
                {% if object.agency_sales %}
                <tr>
                  <th>Агентство продажи</th>
                  <td>{{object.agency_sales}}</td>
                </tr>
                {% endif %}
                {% if object.sale_terms %}
                <tr>
                  <th>Условия продажи</th>
                  <td>{{object.sale_terms}}</td>
                </tr>
                {% endif %}
                {% if object.filename_of_exclusive_agreement %}
                <tr>
                  <th>Файл эксклюзивного соглашения</th>
                  <td>{{object.filename_of_exclusive_agreement}}</td>
                </tr>
                {% endif %}
                {% if object.inspection_file_name %}
                <tr>
                  <th>Файл осмотра</th>
                  <td>{{object.inspection_file_name}}</td>
                </tr>
                {% endif %}
                {% if object.document %}
                <tr>
                  <th>Документ</th>
                  <td>{{object.document}}</td>
                </tr>
                {% endif %}
                {% if object.filename_forbid_sale %}
                <tr>
                  <th>Файл запрета продажи</th>
                  <td>{{object.filename_forbid_sale}}</td>
                </tr>
                {% endif %}
                <tr>
                  <th>Новострой?</th>
                  <td>
                    {% if object.new_building %}Да{% else %}Нет{% endif %}
                  </td>
                </tr>
                {% if object.new_building_name %}
                <tr>
                  <th>Название новрстроя</th>
                  <td>{{object.new_building_name}}</td>
                </tr>
                {% endif %}
                {% if object.new_building_type %}
                <tr>
                  <th>Тип новостроя</th>
                  <td>{{object.new_building_type}}</td>
                </tr>
                {% endif %}
              </table>
            </div>
          </div>
        </div>
        <div class="col-lg-5 col-xl-4 text-lg-left inset-lg-left-30">
          <div class="row row-50">
            <div class="col-sm-12">
              <p>
                <span class="icon icon-xxs novi-icon mdi-calendar-today mdi text-light text-middle"></span>
                <span class="text-middle">{{ object.create_date }}</span>
              </p>
              <div class="offset-top-20 offset-lg-top-50">
                <ul class="list-inline list-inline-sm list-inline-dotted text-dark">
                  <li class="list-inline-item">{{ object.square }} кв.м.</li>
                  {% if object.count_rooms %}<li class="list-inline-item">{{object.count_rooms}} комн.</li>{% endif %}
                </ul>
              </div>
              <div class="offset-top-20 offset-lg-top-50">
                <h5 class="font-weight-bold">{{ object.site_price }} грн.</h5>
              </div>
            </div>
            <div class="col-sm-12"><a class="btn btn-primary" href="#">contact an agent</a>
              <div class="offset-top-10"><a class="btn btn-info" href="#">request a visit</a></div>
              {% if rights.change_object %}
              <div class="offset-top-10"><a class="btn btn-primary" href="/catalog/objects/{{object.id}}/">обновить объект</a></div>
              {% endif %}
              {% if rights.update_details %}
              <div class="offset-top-10"><a class="btn btn-primary"
                                            href="/catalog/{{object.object_type}}/{{object.id}}/details/">обновить детали</a></div>
              <div class="offset-top-10"><a class="btn btn-primary"
                                            href="/catalog/{{object.object_type}}/{{object.id}}/inspection/">осмотренно</a></div>
              {% endif %}
              {% if rights.delete_object %}
              <div class="offset-top-10"><a class="btn btn-danger" href="/catalog/delete/{{object.id}}/">удалить объект</a></div>
              {% endif %}
            </div>
            <div class="col-sm-12">
              <div class="col-sm-6 col-lg-12">
                    <!-- Categories-->
                {% if rights.catalog %}<h6 class="text-uppercase text-spacing-60">Каталог</h6>
                <div class="text-subline"></div>
                {% for type in obj_types %}
                <div class="custom-control custom-checkbox offset-top-20">
                  <a href="/catalog/{{type.id}}">{{type.type}}</a>
                </div>
                {% endfor %}
                {% endif %}
              </div>
            </div>
            <div class="col-sm-12">
              <div class="unit unit-md flex-lg-row">
                <div class="unit-left"><img class="img-fluid d-inline-block" src="/static/images/users/user-shirley-vasquez-120x120.jpg" width="120" height="120" alt=""></div>
                <div class="unit-body">
                  <div>
                    <h5 class="text-primary font-weight-bold">Автор: {{object.author.first_name}} {{object.author.last_name}}</h5>
                  </div>
                  <div class="offset-top-10">
                    <address class="contact-info text-lg-left">
                      <ul class="list-unstyled p">
                        <li class="d-block"><span class="icon novi-icon icon-xxs mdi mdi-phone text-middle"></span>
                          <a class="d-inline-block text-middle" href="tel:{{object.author.phone}}">{{object.author.phone}}</a>
                        </li>
                        <li class="d-block"><span class="icon novi-icon icon-xxs mdi mdi-email-open text-middle"></span>
                          <a class="d-inline-block text-middle" href="mailto:{{object.author.email}}">{{object.author.email}}</a>
                        </li>
                      </ul>
                    </address>
                  </div>
                </div>
              </div>
              <div class="unit unit-md flex-lg-row">
                <div class="unit-left"><img class="img-fluid d-inline-block" src="/static/images/users/user-shirley-vasquez-120x120.jpg" width="120" height="120" alt=""></div>
                <div class="unit-body">
                  <div>
                    <h5 class="text-primary font-weight-bold">Риелтор: {{object.realtor.first_name}} {{object.author.last_name}}</h5>
                  </div>
                  <div class="offset-top-10">
                    <address class="contact-info text-lg-left">
                      <ul class="list-unstyled p">
                        <li class="d-block"><span class="icon novi-icon icon-xxs mdi mdi-phone text-middle"></span>
                          <a class="d-inline-block text-middle" href="tel:{{object.realtor.phone}}">{{object.realtor.phone}}</a>
                        </li>
                        <li class="d-block"><span class="icon novi-icon icon-xxs mdi mdi-email-open text-middle"></span>
                          <a class="d-inline-block text-middle" href="mailto:{{object.realtor.email}}">{{object.realtor.email}}</a>
                        </li>
                      </ul>
                    </address>
                  </div>
                </div>
              </div>
              <div class="unit unit-md flex-lg-row">
                <div class="unit-left"><img class="img-fluid d-inline-block" src="/static/images/users/user-shirley-vasquez-120x120.jpg" width="120" height="120" alt=""></div>
                <div class="unit-body">
                  <div>
                    <h5 class="text-primary font-weight-bold"> Риелтор на сайт: {{object.site_realtor1.first_name}} {{object.site_realtor1.last_name}}</h5>
                  </div>
                  <div class="offset-top-10">
                    <address class="contact-info text-lg-left">
                      <ul class="list-unstyled p">
                        <li class="d-block"><span class="icon novi-icon icon-xxs mdi mdi-phone text-middle"></span>
                          <a class="d-inline-block text-middle" href="tel:{{object.site_realtor1.phone}}">{{object.site_realtor1.phone}}</a>
                        </li>
                        <li class="d-block"><span class="icon novi-icon icon-xxs mdi mdi-email-open text-middle"></span>
                          <a class="d-inline-block text-middle" href="mailto:{{object.site_realtor1.email}}">{{object.site_realtor1.email}}</a>
                        </li>
                      </ul>
                    </address>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--Section Similar Properties-->
{% if other_objects and rights.catalog %}
<section class="section section-98 section-md-110 bg-default novi-background">
  <div class="container">
    <h2 class="font-weight-bold">Похожие объекты</h2>
    <hr class="divider bg-saffron">
    <div class="offset-md-top-66">
      <div class="row row-65 justify-content-sm-center">
        {% for object in other_objects %}
        <div class="col-md-4">
          <img class="img-fluid d-inline-block"
               src="{{ object.image_source }}" width="370" height="250" alt="">
          <div class="text-md-left offset-top-24">
            <div>
              <h5 class="font-weight-bold text-primary">
                <a href="/catalog/{{object.type_id}}/{{object.id}}/">
                  {{object.address}}</a></h5>
            </div>
            <h6 class="offset-top-10">{{ object.site_price }} грн.</h6>
            <ul class="list-inline list-inline-sm list-inline-dotted text-dark">
              <li class="list-inline-item">{{ object.square }} кв.м.</li>
              {% if object.count_rooms %}<li class="list-inline-item">{{object.count_rooms}} комн.</li>{% endif %}
            </ul>
            <div>
              <p>{{ object.comment }}</p>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>
{% endif %}
{% endblock %}