{% extends 'base.html' %}

{% block title %}{{title}} объекта{% endblock %}

{% block content %}
<section class="section context-dark" data-preset='{"title":"Breadcrumbs","category":"main","reload":true,"id":"breadcrumbs"}'>
        <div class="parallax-container" data-parallax-img="/static/images/bg-header-1920x362.jpg">
          <div class="parallax-content">
            <div class="container section-top-34 section-md-top-98 section-bottom-34">
              <div>
                <h1 class="font-weight-bold">{{title}} объекта</h1>
              </div>
              <ul class="list-inline list-inline-dashed p text-light breadcrumb-modern offset-top-10 offset-md-top-66">
                <li class="list-inline-item"><a href="/">Главная</a></li>
                <li class="list-inline-item"><a href="/catalog/">Каталог</a></li>
                <li class="list-inline-item">{{title}}</li>
              </ul>
            </div>
          </div>
        </div>
      </section>

<section class="section section-98 section-md-110 section-bottom-66 bg-default novi-background" data-preset='{"title":"About us 1","category":"about","reload":true,"id":"about-us-1"}'>
        <div class="container">
          <h2 class="font-weight-bold">{{title}} объекта</h2>
          <hr class="divider bg-saffron">
          <div class="offset-md-top-66">
            <!-- Responsive-tabs-->
            <div class="responsive-tabs responsive-tabs-classic" data-type="horizontal">
              <div class="resp-tabs-container tabs-group-default" data-group="tabs-group-default">
                <div>
                  <form method=post>
                    {{ form.csrf_token() }}
                    {% for field in form %}
                    {% if field.name != "csrf_token" %}
                    <div class="form-group">
                      <label class="form-label form-label-size-lg form-label-outside"
                             for="{{ field.name }}"><h4>{{field.label}}</h4></label>
                      {% if field.type == "SelectField" %}
                      <select class="form-control" id="{{ field.name }}"
                              name="{{ field.name }}" data-minimum-results-for-search="Infinity">
                        {% for choice in field.choices %}
                        <option value="{{choice.0}}"
                                {% if field.data and choice.0 == field.data.0 %} selected{% endif %}>
                          {{choice.1}}
                        </option>
                        {% endfor %}
                      </select>
                      {% elif field.type == "TextAreaField" %}
                      <textarea class="form-control bg-white"
                                id="{{ field.name }}" name="{{ field.name }}"
                                style="height: 150px;"
                                data-constraints="@Required">{% if field.data %}{{field.data}}{% endif %}
                      </textarea>
                      {% else %}
                      <input class='{%if field.type != "BooleanField"%}form-control bg-white{%endif%}'
                             id="{{ field.name }}"
                             {% if field.data %}value="{{field.data}}"{% endif %}
                             type='{%if field.type == "BooleanField"%}checkbox{%elif
                             field.type == "DateField"%}date{%elif field.type == "IntegerField"%}number{%else%}{{ field.type }}{%endif%}'
                             name="{{ field.name }}"
                             {% if field.data == True %} checked{%endif%}>
                      {% endif %}
                    </div>
                    {% endif %}
                    {% endfor %}
                    <input class="btn btn-primary" type=submit value=Сохранить>
                  </form>
                  {% if images %}
                  <table class="table table-striped">
                    <tr>
                      <th>Изоброжение</th>
                      <th>На сайт?</th>
                    </tr>
                    {% for image in images %}
                    <tr>
                      <td><img class="img-fluid d-inline-block" src="{{ image.1 }}" width="120" height="50" alt=""></td>
                      <form method="post">
                      <td>
                        <input type="checkbox"
                                 name="on_site" {% if image.0.on_site.data == True %} checked{%endif%}>
                        <input type="hidden" name="id" value="{{image.0.id.data}}">
                      </td>
                      <td><input class="btn btn-primary" type=submit value=Сохранить></td>
                      </form>
                      <td><a class="btn btn-danger" href="/catalog/delete/{{object_id}}/{{image.0.id.data}}/">удалить</a>
                    </tr>
                    {% endfor %}
                  </table>
                  {% endif %}
                  {% if image_add %}
                  <form method=post enctype=multipart/form-data><div class="offset-top-10">
                    <input type="file" name="obj_image">
                    <input class="btn btn-primary" type=submit value="Добавить изображение">
                  </div></form>
                  {% endif %}
                  <br>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
{% endblock %}